{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "SPCoreBundle::layout.html.twig" %}

{% block title %}
  Backend
{% endblock %}

{% block body %}

  <h2>Page d'accueil du backend</h2>

  <div id="Enregistrement">
  	<p>Run Enregistrement : <br></p>
  
   {{ form(form) }}
{#   	<button>Marche</button>#}
{#   	<button>Arret</button>#}
  </div>
  <br>
  <div id="etat">
   Etat : 
  </div>

{% endblock %}